<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KLMessage.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings/>
  <connectionStrings>
    <add name="KLMessageClientDB" connectionString="Provider=SQLOLEDB.1;Password=lkmojupdfe;Persist Security Info=True;User ID=sa;Initial Catalog=MessageDB;Data Source=." providerName="System.Data.OleDb"/>
  </connectionStrings>
  <system.web>
    <!-- 
            Visual Basic 选项:
            若设置 strict="true"，将禁止所有会导致
            数据丢失的数据类型转换。
            若设置 explicit="true"，将强制声明所有变量。
        -->
    <webServices>
      <conformanceWarnings>
        <remove name='BasicProfile1_1'/>
      </conformanceWarnings>
    </webServices>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <!--
      通过 <authentication> 节可以配置
      安全身份验证模式，ASP.NET 
      使用该模式来识别来访用户身份。 
    -->
    <authentication mode="Windows"/>
    <!--
       如果在执行请求的过程中出现未处理的错误
       则通过 <customErrors> 节
       可以配置相应的处理步骤。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
  </system.web>
  <applicationSettings>
    <KLMessage.My.MySettings>
      <setting name="Usercode" serializeAs="String">
        <value>dxpt</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>1517</value>
      </setting>
      <setting name="CallbackURL" serializeAs="String">
        <value>http://218.16.64.234:802/KLRecieveMessageService.asmx</value>
      </setting>
      <setting name="ThreadMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxBatchSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="InvockPersecond" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="QueueSize" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="MaxThreadCount" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="MinThreadCount" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="VersionID" serializeAs="String">
        <value>C126367F-AAF6-49F0-9037-622A9C630FF9</value>
      </setting>
    </KLMessage.My.MySettings>
  </applicationSettings>
</configuration>